<img class="aboutImg" src="/assets/IMG_0982.jpg" alt="Gary Hammon energetically playing saxophone on stage, an upright bassist and drummer in the background."/>

<p>
  Born and raised in Seattle, Gary “Jubil” Hammon is one of a number of musicians from the area that have enjoyed a
  long and successful career in the performing arts. Gary began his study of the saxophone while a freshman at
  Garfield High School. With diligent practice, he advanced rapidly on the instrument, and soon began playing in
  bands around the thriving Seattle music scene. With some encouragement from Jim Wilke, he applied for further
  musical study at the renowned New England Conservatory of Music. Awarded a scholarship, he began attending in
  1969, the first year black students were accepted. While there he benefitted greatly while studying with Kenny
  Dorham, Mary Lou Williams, Carmen McRae and others. He also helped inaugurate the jazz studies program at the
  Conservatory in 1972, as part of Gunther Schuller’s ensemble. Impressing the likes of Isaac Stern and Arthur
  Fiedler, the program has been a success ever since.
</p>
<p>
  Gary went on to establish himself on the jazz scene in Boston
  and New York, frequently filling in for Harold Vick before leading his own bands, becoming a regular at Wally’s
  in Boston and Manny’s Car Wash in New York. This led to working and touring with blues greats Albert King and
  Albert Collins, a long stint with Big Jim Patton’s band, Ray Charles, Stevie Wonder and further jazz work with
  Barbara Donald and Grant Green.
</p>
<p>
  Gary Hammon returned to Seattle in 2004 after a long career as a sideman and an educator. After being in so many
  great bands led by others, he was eager to pursue his own musical directions. Gary teamed up with saxophone great
  Hadley Caliman to make a two tenors album, “Fangs,” and they performed regularly throughout the Seattle area for
  some years. When Hadley Caliman got called to play with Bobby Huthcherson one weekend, Gary called trumpeter Erik
  Esvelt to fill in at the last minute. The two musicians quickly recognized their shared enthusiasm for an
  oldschool, lyrical approach to playing the music. A long term collaboration sprung from there, and the two horn
  players were soon rehearsing together, working to blend their sound and learning each others’ music. Gigs in 2011
  culminated in recording their album, “Slightly in the Tradition,” that summer.
</p>
<p>
  Still active as an educator, Hammon has been teaching saxophone and sharing his love of music for over four
  decades. As well as having tutored dozens of award-winning musicians, Gary has also worked closely with Ballard
  High School’s program in recent years, helping them become one of the region’s top programs and regular attendees
  of the prestigious Essentially Ellington competition held annually in New York City.
</p>
<p>
  Recognition of Mr. Hammon’s legacy of connecting the jazz tradition with the current generation was recently
  showcased at the 2018 Earshot Jazz Festival. Leading the band “Last of the Tribe,” at the Langston Hughes
  Performing Arts Center, he was joined by Booker T. Washington, Nathan Breedlove and prominent young saxophonist
  James Brandon Lewis in an adventurous foray that showcased Hammon’s artistry on his instrument in a very free
  setting.
</p>