  <img class="aboutImg" src="https://static1.squarespace.com/static/582dda6d3e00be41c61a1055/t/597e60d629687f5e37da9568/1480371304316/IMG_7799.JPG?format=2500w" alt="Gary Hammon, Saxophone in hand."/>
  
  <div class="aboutDiv">
    
    <h3 class="abouth3">Gary Hammon</h2>
    
    <div>
      <p class="aboutP">Etiam in diam quis justo lacinia dictum. Vestibulum varius gravida lorem tincidunt blandit. Maecenas pharetra volutpat magna, a condimentum erat cursus ut. Nunc risus orci, viverra sed luctus sed, tristique et elit. Sed vitae tellus a felis vehicula aliquam. Mauris ut elit turpis. Morbi sit amet sem commodo, sagittis enim ut, maximus ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum id justo nibh. Donec pellentesque posuere diam eget dapibus. Cras in egestas quam. Maecenas luctus ligula nec justo tincidunt aliquam. Praesent nec hendrerit nisi, a congue ante. Maecenas cursus felis vel consequat suscipit. Donec arcu velit, convallis id augue in, molestie mattis arcu. Pellentesque a eros semper, lobortis metus nec, varius quam.</p>
    </div>

  </div>