<section class="aboutUsSection">
  <aside>
    <img src="/imgs/kris.PNG" alt="">
  </aside>

  <h2 class="abouth2">Kris Esvelt</h2>
  
  <div>
    <p class="aboutUsP">Kris is a new full-stack JavaScript developer who enjoys the logical nature of code (most of the time), and hopes to visit many other countries. Born and raised in Seattle, he loves eating in the international district or grabbing some Dick's. Kris came to CodeFellows in order to join this interesting and challenging field, excited with the abundant opportunity to make a big difference in the world.</p>
  </div>

</section>