<div class="galleryDiv"><img class="galleryImage" src="/assets/images/photo.JPG"></div>
<div class="galleryDiv"><img class="galleryImage" src="/assets/images/PA010091.jpg"></div>
<div class="galleryDiv"><img class="galleryImage" src="/assets/images/ErikandGary.jpg"></div>