<div class="galleryContainer">
  <div class="galleryDiv"><img class="galleryImage" src="/assets/images/GaryMural.jpg"><p class="galleryCaption">A mural dedicated to Gary in Seattle's Central District</p></div>
  <div class="galleryDiv"><img class="galleryImage" src="/assets/images/GaryWithTigers.jpg"><p class="galleryCaption">Promotional material from an album recorded with Hadley Caliman</p></div>
</div>
<div class="galleryContainer">
  <div class="galleryDiv"><img class="galleryImage" src="/assets/images/oldSkoolGary.png"><p class="galleryCaption">Gary Hammon with trumpeter Rodman Bostic</p></div>
  <div class="galleryDiv"><img class="galleryImage" src="/assets/images/GaryAmongMany.jpg"><p class="galleryCaption">Rahsaan Roland Kirk, Norman Bishop Williams, Gary, and Steve Turre</p></div>
</div>
<div class="galleryContainer">
  <div class="galleryDiv"><img class="galleryImage" src="/assets/images/PA010091.jpg"><p class="galleryCaption">Gary with Erik Esvelt at the former New Orleans in Seattle</p></div>
  <div class="galleryDiv"><img class="galleryImage" src="/assets/images/photo.JPG"><p class="galleryCaption">Gary with Erik, Todd Gowers, and Robert Damper at Third Place Books</p></div>
</div>
