<img src="/assets/images/GaryHome.jpg" class="garyHome">

<div class="homeContent">
  <p class="photoCredit">Photo Credit: Parker Miles Blohm/KNKX Public Radio</p>

  <div class="quotesDiv">
    <p class="quote">Gary is great in 26pt font</p>  
    <p class="quoteCredit">-jazz guy in 15pt font</p>  
    <figure>
      <figcaption>Gary Clip 1</figcaption>
      <audio controls src="/assets/audio/GaryClipOne.mp3"></audio>
    </figure>
  </div>

  <iframe class="youtubeVid" src="https://www.youtube.com/embed/LZWJvnbnYOw" frameborder="0"></iframe>

  <img class="homeImage" src="/assets/images/ErikandGary.jpg" alt=""/>

  <div class="quotesDiv">
      <p class="quote">Gary is great in 26pt font</p>  
      <p class="quoteCredit">-jazz guy in 15pt font</p>
      <figure>
        <figcaption>Gary Clip 2</figcaption>
        <audio controls src="/assets/audio/GaryClipTwo.mp3"></audio>
      </figure>
  </div>

  <iframe class="youtubeVid" src="https://www.youtube.com/embed/gQvga3T0etM" frameborder="0"></iframe>

  <div class="contactDiv">
    <h2>Email</h2>
    <p>qwerty@1234.com</p>
    <h2>Phone Number</h2>
    <p>206-123-1234</p>
  </div>
</div>