<img src="/assets/GaryHome.jpg" class="garyHome">

<div class="homeContent">
  <p class="photoCredit">Photo Credit: Parker Miles Blohm/KNKX Public Radio</p>
  <p>Vestibulum volutpat, est ac maximus rhoncus, felis ante laoreet nisl, et dictum turpis felis sit amet augue. Integer fermentum interdum turpis, et lacinia augue interdum at. Pellentesque blandit elementum lectus eget cursus. Duis sed dolor id erat placerat malesuada. Mauris vel viverra lacus, a feugiat dolor. Nam hendrerit nulla id magna interdum lobortis. Fusce sagittis lectus dui, at molestie velit lacinia ut. Nam velit elit, interdum sed volutpat eget, vulputate in urna. Phasellus facilisis vel diam vel tempor. Integer dolor est, dictum sit amet massa vitae, suscipit tincidunt mauris.</p>
  <p>Vestibulum volutpat, est ac maximus rhoncus, felis ante laoreet nisl, et dictum turpis felis sit amet augue. Integer fermentum interdum turpis, et lacinia augue interdum at. Pellentesque blandit elementum lectus eget cursus. Duis sed dolor id erat placerat malesuada. Mauris vel viverra lacus, a feugiat dolor. Nam hendrerit nulla id magna interdum lobortis. Fusce sagittis lectus dui, at molestie velit lacinia ut. Nam velit elit, interdum sed volutpat eget, vulputate in urna. Phasellus facilisis vel diam vel tempor. Integer dolor est, dictum sit amet massa vitae, suscipit tincidunt mauris.</p>
  <p>Vestibulum volutpat, est ac maximus rhoncus, felis ante laoreet nisl, et dictum turpis felis sit amet augue. Integer fermentum interdum turpis, et lacinia augue interdum at. Pellentesque blandit elementum lectus eget cursus. Duis sed dolor id erat placerat malesuada. Mauris vel viverra lacus, a feugiat dolor. Nam hendrerit nulla id magna interdum lobortis. Fusce sagittis lectus dui, at molestie velit lacinia ut. Nam velit elit, interdum sed volutpat eget, vulputate in urna. Phasellus facilisis vel diam vel tempor. Integer dolor est, dictum sit amet massa vitae, suscipit tincidunt mauris.</p>
  <img class="homeImage" src="/assets/ErikandGary.jpg" alt=""/>
  <p>Vestibulum volutpat, est ac maximus rhoncus, felis ante laoreet nisl, et dictum turpis felis sit amet augue. Integer fermentum interdum turpis, et lacinia augue interdum at. Pellentesque blandit elementum lectus eget cursus. Duis sed dolor id erat placerat malesuada. Mauris vel viverra lacus, a feugiat dolor. Nam hendrerit nulla id magna interdum lobortis. Fusce sagittis lectus dui, at molestie velit lacinia ut. Nam velit elit, interdum sed volutpat eget, vulputate in urna. Phasellus facilisis vel diam vel tempor. Integer dolor est, dictum sit amet massa vitae, suscipit tincidunt mauris.</p>
</div>

<script>
    window.addEventListener("load", function(event) {
      console.log("All resources finished loading!");
      $('html').toggleClass('htmlHome');
    });
  </script>