<a id="burger">&#9776;</a>
<nav class="nav">
  <a class="links" href="/">Home</a>
  <a class="links" href="/shows">Shows</a>
  <a class="links" href="/videosArticles">Videos/Articles</a>
  <a class="links" href="/gallery">Gallery</a>
  <a class="links " id="navBottom" href="/about">About</a>
</nav>

<script type="text/javascript">	
	let burger = document.getElementById('burger');
  burger.addEventListener('click', function() {
    $('.links').toggleClass('links-active');
    $('.title').toggleClass('links-active-title');
  });
</script>