<section class="articleBar">
    <h3 class="articlesHeader">Articles about Gary</h3>
    <a class="articleLinks" href="https://www.earshot.org/project/gary-hammon-last-of-the-tribenovember2018/">Gary Hammon: Last of the Tribe</a>
    <p class="articleDesc">Written by Steve Kohl, published on earshot.org</p>
    <a class="articleLinks" href="https://www.knkx.org/post/gary-hammon-quintet-performs-seattle-art-museums-art-jazz-series">Gary Hammon Quintet Performs At Seattle Art Museums Art Of Jazz Series</a>
    <p class="articleDesc">Written by Jim Wilke, published on KNKX.org</p>
    <a class="articleLinks" href="https://www.shelflifestories.com/becoming-a-musician">Becoming a Musician</a>
    <p class="articleDesc">Gary discussing his formative years, published on shelflifestories.com</p>
</section>

<video class="vid" src="/assets/video/nathanBreedloveQuintet.mov" controls></video>

<iframe class="youtubeVid" src="https://www.youtube.com/embed/LZWJvnbnYOw" frameborder="0"></iframe>

<iframe class="youtubeVid" src="https://www.youtube.com/embed/gQvga3T0etM" frameborder="0"></iframe>