html {
  background-image: url('./../assets/images/brickbackground.jpg');
  background-size: cover;
}

body {
  color: black;
  position: relative;
  font-family: 'Abadi MT Condensed Light', sans-serif;
}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30pt;
  margin: .5vh 0vw;
  display: inline-block;
  width: 80%;
  padding: 0vh 1.5vw;
}

h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20pt;
  margin: 2vh 0vw;
  padding: 0vh 1.5vw;
}

figure {
  margin: 0vh 0vw 0vh 5vw;
}

figcaption {
  font-family: 'Times New Roman', Times, serif;
  font-size: 14pt;
  margin-bottom: .75vh;
}

a {
  color: black;
}

p {
  margin-top: 2vh;
  padding: 0vh 1.5vw;
  font-size: 14pt;
  line-height: 1.25;
}

/* Nav */
nav {
  border-bottom: 3px solid black;
  padding: 0vh 1.5vw;
  padding-bottom: 1vh;
}

.links {
  margin-right: 1.5vw;
  display: inline;
  border: none;
  font-size: 1.35em;
  color: #111111;
  text-decoration: none;
}

.links:visited {
  color: #111111;
}

#headerBox {
  position: sticky;
  top: 0;
  background-color: rgb(142, 169, 212);
  /* background-color: rgb(204, 217, 236); */
  clear: both;
  z-index: 1000;
}

#burger {
  display: none
}

/* Home */
.homeBanner {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0 auto;
  display: block;
}

.photoCredit {
  font-size: 8pt;
  color: whitesmoke;
  text-align: center;
  margin: 0;
  font-weight: bold;
  padding-top: .5vh;
}

.garyBlurb {
  text-align: center;
  align-content: center;
  font-size: 20pt;
}

.homeImage {
  margin: 0 auto;
  display: block;
  margin-bottom: .75vh;
  max-width: 85vw;
}

.quote {
  font-size: 26pt;
  margin: 0vh 0vw;
}

.quoteCredit {
  font-style: italic;
  font-size: 15pt;
  color: gray;
  text-align: right;
}

.quotesDiv {
  width: 66vw;
  padding: 1.5vh 2vw;
  margin: 2vh auto;
  background-color: rgb(142, 169, 212);
  border: 1.5px solid black;
  border-radius: 25px;
}

.contactDiv {
  text-align: center;
  margin: 0 auto;
  width: 35vw;
  padding: 1.5vh 2vw;
  background-color: rgb(142, 169, 212);
  border: 1.5px solid black;
  border-radius: 25px;
}


/* Shows */
.calendar{
  display: block;
  height: 80vh;
  margin: 2vh auto;
  width: 95vw;
}

/* Videos/Articles */
.articleBar {
  height: 100%;
  width: 30vw;
  float: right;
  background-color: rgb(142, 169, 212);
  margin-top: 1vh;
  padding-top: 2vh;
  border: 1.5px solid black;
  border-radius: 25px;
}

.articlesHeader {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 16pt;
  text-align: center;
  margin-top: 0;
}

.articleLinks {
  display: block;
  font-size: 14pt;
  padding-left: .75vw;
}

.articleDesc {
  text-align: center;
}

.vid {
  margin: 0 auto;
  display: inline-block;
  margin: 1vh 0vw 1vh 2vw;
  max-width: 65vw;
}

.youtubeVid {
  margin: 0 auto;
  display: inline-block;
  margin: 1vh 0vw 1vh 2vw;
  height: 55vh;
  width: 65vw;
}

.galleryContainer {
  display: flex;
}

.galleryCaption {
  color: whitesmoke;
  font-weight: bold;
  font-size: 10pt;
  margin: 1vh 0vw 0vh 0vw;
  text-align: center;
}

.galleryCaptionLower {
  color: whitesmoke;
  font-weight: bold;
  font-size: 10pt;
  margin: 4vh 0vw 0vh 0vw;
  text-align: center;
}

.galleryDiv {
  width: 50vw;
  height: 40vh;
  display: inline-block;
  position: relative;
  margin: 1vh 0vw 0vh 0vw;
}

.galleryImage {
  max-width: 95%;
  max-height: 85%;
  position: absolute;
  top: 10%;
  left: 10%;
  border-radius: 3px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.9);
}

.galleryImage:empty {
  top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* Bio */
.bioImg {
  float: right;
  margin-top: 1vh;
  margin-right: 1vh;
}

.aboutP {
  color: black;
}

.aboutDiv {
  width: 66vw;
  margin: 2vh 1vw 0vh 1vw;
  background-color: rgb(142, 169, 212);
  border: 1.5px solid black;
  border-radius: 25px;
}

/* Mobile */

@media only screen and (max-width: 768px) {
  html {
    background-size: contain
  }

  body {
    text-align: center;
  }

  h1 {
    margin-bottom: 2vh;
    font-size: 26pt;
  }

  nav {
    padding-bottom: 0px;
  }

  figure {
    margin: 0vh 5vw 0vh 0vw;
  }

  figcaption {
    text-align: left;
    margin: 0vh 0vw .75vh 2vw;
    padding-top: 1vh;
  }

  audio {
    max-width: 100%;
  }

  /* Nav */

  .links {
    display: none;
    font-size: 1.35em;
    padding-bottom: 2vh;
    text-align: center;
    width: 100%;
  	margin: 0;
  }
  
  .links-active {
    display: inline-block;
    padding-bottom: 2vh;
    margin-bottom: 2vh;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #747171;
  }
  
  #burger {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 1vh;
    left: 90%;
    font-size: 1.75em;
  }
  
  #navBottom {
    border-bottom: none;
    margin-bottom: 0vh;
  }

  /* Home */
  .homeImage {
    max-width: 95vw;
  }
  
  .garyBlurb {
    font-size: 18pt;
    padding-top: .5vh;
    margin-bottom: 0;
  }
  
  .quote {
    font-size: 18pt;
    padding: 1vh 0vw;
  }
  
  .quotesDiv {
    width: 85vw;
    padding-top: 0vh;
    padding-bottom: 1vh;
  }
  
  .contactDiv {
    width: 85vw;
    padding: 0vh 2vw 1.5vh 2vw;
  }

  /* Videos/Articles   */
  .articleBar {
    float: none;
    margin: 2vh auto;
    padding: 2vh 2vw 0vh 2vw; 
    width: 85vw;
  }
  
  .vid {
    display: block;
    margin: 0 auto 2vh;
    max-width: 90vw;
  }
  
  .youtubeVid {
    display: block;
    margin: 0 auto 2vh;
    width: 90vw;
  }

  /* Gallery   */
  .galleryContainer {
    display: block;
  }
  
  .galleryCaption {
    font-size: 10pt;
    margin: 0;
  }
  
  .galleryCaptionLower {
    margin: 2.5vh 0vw 0vh 0vw;
  }
  
  .galleryDiv {
    width: 100vw;
    margin: 2.5vh 0vw 0vh 0vw;
  }
  
  .galleryImage:empty {
    top: 57%;
  }

  /* Bio */
  .aboutP {
    padding: 0vh 2.5vw;
  }
  
  .aboutDiv { 
    margin: 0 auto;
    width: 90vw;
  }

  .bioImg {
    max-width: 100vw;
    float: none;
    margin: 0vh 0vw 2vh 0vw;
  }
}

/* Computer */

@media only screen and (min-width: 1025px) {
  .bioImg {
    width: 30vw;
  }
}
