body {
  margin: 0% 2%;
}

h1 {
  font-size: 2.25em;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-right: 0px;
  display: inline-block;
}

h2 {
  font-size: 2em;
  margin: 15px 0px;
}

h3 {
  font-size: 1.5em;
}

p {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 1.25em;
  line-height: 1.25;
}

a {
  text-decoration: none;
}

nav {
  border-bottom: 2px solid #302f2f;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

iframe {
  width: 100%;
  height: 500px;
}

.aboutImg {
  float: right;
  margin-left: 7px;
  margin-bottom: 7px;
}

.links {
  margin-right: 15px;
  display: inline;
  border: none;
  font-size: 1.35em;
}

#burger {
  display: none
}

#pageTitle {
  margin-top: 15px;
  margin-bottom: 10px;
}

/* Mobile Sized */

@media only screen and (max-width: 767px) {
  body {
    text-align: center;
  }

  h1 {
    margin-bottom: 10px;
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  p {
    font-size: 1.15em;
  }

  nav {
    padding-bottom: 0px;
    margin-bottom: 5px;
  }

  .links {
    display: none;
    font-size: 1.35em;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
  	margin: 0;
  }
  
  .links-active {
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #747171;
  }

  .aboutImg {
    width: 80%;
    float: none;
    margin: 0px;
    margin-bottom: 10px;
  }

  .noBorder {
    border-bottom: none;
  }

  #burger {
    display: block;
    cursor: pointer;
    float: right;
    font-size: 1.35em;
  }
  
  #navbottom {
    border-bottom: 2px solid #302f2f;
    margin-bottom: 0px;
  }

  #pageTitle {
    margin-top: 0px;
  }
}

/* Tablet Sized */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .aboutImg {
    width: 50%;
  }
}

/* Computer Sized */

@media only screen and (min-width: 1025px) {
  .aboutImg {
    width: 30%;
  }
}
