body {
  margin: 0px 15px;
}

h1 {
  font-size: 2.25em;
  margin-top: 0px;
  margin-bottom: 15px;
  margin-right: 0px;
  width: 40%;
  display: inline-block;
}

h2 {
  font-size: 2em;
  margin: 15px 0px;
}

h3 {
  font-size: 1.5em;
}

p {
  margin: 0.5em 0em;
  font-size: 1.25em;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 768px;
  width: 100%;
}

.abouth3 {
  display: inline-block;
  margin-top: 15px;
}

.aboutImg {
  width: 40%;
  float: right;
  margin-top: 15px;
}

.aboutDiv {
  display: inline-block;
  width: 58%;
}

#pageTitle {
  margin-top: 20px;
  margin-bottom: 0px;
}

@media only screen and (max-width: 767px) {
  .links {
    display: none;
    font-size: 1.5em;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
  	margin: 0;
  }
  
  .links-active {
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #747171;
  }

  .links-active-title {
    margin-bottom: 0px;
  }

  #burger {
    cursor: pointer;
    float: right;
    font-size: 1.5em;
    margin-top: 5px;
    margin-right: 5px;
  }
  
  .nav {
    top: 17px;
  }

  #navbottom {
    border-bottom: 2px solid #302f2f;
    margin-bottom: 35px;
  }

  .abouth2 {
    font-size: 1.75em;
    text-align: center;
  }

  #pageTitle {
    margin-top: 0px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .links {
    display: none;
    font-size: 1.5em;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
  	margin: 0;
  }
  
  .links-active {
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #747171;
  }

  .links-active-title {
    margin-bottom: 0px;
  }

  #burger {
    cursor: pointer;
    float: right;
    font-size: 1.5em;
    margin-top: 5px;
    margin-right: 5px;
  }
  
  .nav {
    top: 17px;
  }

  #navbottom {
    border-bottom: 2px solid #302f2f;
    margin-bottom: 35px;
  }

  .abouth2 {
    font-size: 1.75em;
    text-align: center;
  }

  #pageTitle {
    margin-top: 0px;
  }
}

@media only screen and (min-width: 1025px) {
  .links {
    margin-right: 15px;
    display: inline;
    border: none;
    font-size: 1.5em;
  }

  .nav {
    padding-bottom: 15px;
    border-bottom: 2px solid #302f2f;
  }

  #burger {
    display: none
  }
}
