html {
  background-color: rgb(192, 206, 228);
  /* overflow: hidden; */
}

body {
  color: #111111;
  position: relative;
}

h1 {
  font-family: 'Goblin One', cursive;
  font-size: 2.5em;
  margin: .5vh 0vw;
  display: inline-block;
  width: 80%;
  padding: 0vh 1.5vw;
}

h2 {
  font-family: 'Goblin One', cursive;
  font-size: 1.5em;
  margin: 2vh 0vw;
  padding: 0vh 1.5vw;
}

p {
  margin-top: 2vh;
  padding: 0vh 1.5vw;
  font-family: 'Vollkorn', serif;
  font-size: 1.25em;
  line-height: 1.25;
}

a {
  text-decoration: none;
}

nav {
  border-bottom: 2px solid #302f2f;
  padding: 0vh 1.5vw;
  padding-bottom: 1vh;
}

iframe {
  display: block;
  height: 80vh;
  margin: 2.5vh auto;
  width: 95vw;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.aboutImg {
  float: right;
  margin-left: 2vw;
  margin-right:2vw;
  margin-bottom: 2vh;
}

.links {
  margin-right: 1.5vw;
  display: inline;
  border: none;
  font-size: 1.35em;
}

.htmlHome {
  background: url('../assets/GaryHome.jpg') no-repeat fixed;
  background-position-y: 8vh;
  background-position-x: center;
  background-size: 1810px;
  background-color: rgb(192, 206, 228);
}

.homeContent {
  margin-top: 58vh;
  padding-top: .5vh;
  background-color: rgb(192, 206, 228);
}

.photoCredit {
  font-size: 12px;
  color: gray;
  text-align: center;
}

.homeImage {
  margin: 0 auto;
  display: block;
  margin-bottom: 3vh;
}

#headerBox {
  position: sticky;
  top: 0;
  background-color: rgb(192, 206, 228);
  clear: both;
}

#burger {
  display: none
}

/* Mobile Sized */

@media only screen and (max-width: 414px) {
  body {
    text-align: center;
  }

  h1 {
    margin-bottom: 2vh;
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  p {
    font-size: 1.15em;
  }

  nav {
    padding-bottom: 0px;
  }

  iframe {
    height: 84vh;
    margin-top: 1vh;
  }

  .htmlHome {
    background-position-y: 12vh;
    background-position-x: 0%;
    background-size: 414px auto;
  }

  .homeContent {
    margin-top: 18vh;
  }

  .links {
    display: none;
    font-size: 1.35em;
    padding-bottom: 2vh;
    text-align: center;
    width: 100%;
  	margin: 0;
  }
  
  .links-active {
    display: inline-block;
    padding-bottom: 2vh;
    margin-bottom: 2vh;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #747171;
  }

  .aboutImg {
    width: 80%;
    float: none;
    margin: 0px;
    margin-bottom: 2vh;
  }

  .noBorder {
    border-bottom: none;
  }

  #burger {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 0.7%;
    left: 92%;
    font-size: 1.35em;
  }
  
  #navbottom {
    border-bottom: 2px solid #302f2f;
    margin-bottom: 0vh;
  }
}

/* Tablet Sized */

@media only screen and (min-width: 768px) and (max-width: 1024px) {

  .aboutImg {
    width: 50vw;
  }
}

/* Computer Sized */

@media only screen and (min-width: 1025px) {
  iframe {
    width: 75vw;
  }

  .aboutImg {
    width: 30vw;
  }
}
